<html>
    <head>
        <title>Banana Panic - {{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="/blueprint-800/screen.css">
        <!--[if lt IE 8]><link type="text/css" rel="stylesheet" href="/css/blueprint-800/ie.css" media="screen, projection"><![endif]-->
        <link type="text/css" rel="stylesheet" href="/custom.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar prepend-top span-25 append-bottom last">
                <div class="span-10">
                    <a href="/">
                        <img src="/img/bananapanictextlogo_sm.png" title="Banana Panic" id="nav_logo"/>
                    </a>
                </div>
                <div class="right">
                    <ul id="nav_buttons" class="round">
                        {% assign c = ' class = "current_page round"' %}
                        {% case page.title %}
                          {% when "Home" %}
                            {% assign h = c %}
                          {% when "About" %}
                            {% assign a = c %}
                          {% when "Download" %}
                            {% assign d = c %}
                          {% when "News" %}
                            {% assign n = c %}
                          {% when "Mockups" %}
                            {% assign m = c %}
                        {% endcase %}
                        <li{{ h }}><a href="/">home</a></li>
                        <li{{ a }}><a href="/about.html">about</a></li>
                        <li{{ d }}><a href="/download.html">download</a></li>
                        <li{{ n }}><a href="/news.html">news</a></li>
                        <li{{ m }}><a href="/mockups.html">mockups</a></li>
                    </ul>
                </div>
            </div>
            <div class="content span-25 last round">
              <div class="inner prepend-top span-21 push-2 last">
                {{ content }}
              </div>
            </div>
            <img class="" id="shadow-bottom" src="/img/shadowbottom.png" />
        </div>
    </body>
</html>
