<html>
<head>
<title>Banana Panic - {{ page.title }}</title>
<link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
<div class="navbar">
<img src="img/bananapanictextlogo_sm.png" title="Banana Panic" id="nav_logo" />
<ul id="nav_buttons">
	<li><a href="index.html">home</a></li>
	<li><a href="about.html">about</a></li>
	<li><a href="news.html">news</a></li>
	<li><a href="mockups.html">ui mockups</a></li>
</ul>
</div>
<div class="content">
{{ content }}
</div>
<img id="shadow-bottom" src="img/shadowbottom.png" />
</body>
</html>
